*{
  background-color: #F5F7F8;
}
.container1 {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 80%;
  max-width: 600px;
}

header {
  background-color: #7066e0;
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

header h1{
  background-color: transparent;
  font-size: 40px;
}

main {
  margin: 40px 0;
  background-color: transparent;
}

.play-button {
  background-color: #7066e0;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #50499b;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  flex-direction: column;
  height: 70vh;
}

footer {
  background-color: transparent;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

footer p {
  background-color: transparent;
  margin: 0;
  color: #555;
}

.portf {
  text-decoration: underline;
  color: wheat;
}

.water-background {
  background-color: #7066e0;
}

.game-heading {
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}

.square-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.move-detection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.finished-state {
  font-size: 30px;
  text-align: center;
}

.left,
.right {
  height: 30px;
  width: 120px;
  border-radius: 50px;
  background-color: #4b495f;
  padding-top: 7px;
  font-size: 18px;
  padding-bottom: 5px;
  text-align: center;
}

.waiting {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.waiting span {
  font-size: 44px;
  display: flex;
  flex-direction: row;
}
.waiting .wait{
  transform: translateY(-50px);
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #7066e0;
  margin-top: 100px;
  border-radius: 50%;
  animation: beep 1s infinite;
}

@keyframes beep {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

.current-move-cross {
  background-color: #3b29ff !important;
}

.current-move-circle {
  background-color: rgb(255, 30, 79) !important;
}

.opponent{
  color: #7066e0;
}

.finished-state{
  color: green;
}
.dr{
  color: red;
}


.opponentLeftMatch{
  color: rgb(244, 184, 72);
}

 @media (max-width: 600px) {
  .main-div{
    height: 70vh;
  }
  .container1 {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 1.5em;
  }

  .play-button {
    padding: 10px 20px;
    font-size: 1em;
  }

  .waiting p {
    text-align: center;
  }
}